@import url(reset.css);
.wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.check-document {
  max-width: 1440px;
  width: 100%;
  position: relative;
  max-height: 1024px; }
  .check-document-background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%; }
  .check-document-content {
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    max-height: 1024px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.background-figure {
  display: inline-block;
  position: absolute; }

.background-vector-top {
  top: -30px; }

.background-vector-bottom {
  bottom: 0;
  right: 0; }

.background-circle {
  width: 480px;
  height: 480px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #F7ECD5;
  left: 1024px;
  top: 10%; }

.background-rectangle {
  -webkit-transform: rotate(-38.45deg);
  -ms-transform: rotate(-38.45deg);
  transform: rotate(-38.45deg);
  width: 200px;
  height: 200px;
  background: #364476;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  left: 67%;
  top: 37%; }

.content-logo {
  padding: 20px 0;
  margin-bottom: 10%; }

.content-text {
  max-width: 600px;
  width: 70%;
  padding-bottom: 50px; }
  .content-text h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 59px;
    font-size: 50px;
    text-transform: uppercase;
    color: #364476;
    margin: 0 0 50px; }
    .content-text h1 span {
      font-style: normal;
      font-weight: bold;
      font-size: 90px;
      line-height: 105px; }
  .content-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    margin: 0; }

.content-timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7%; }
  .content-timer p {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; }
  .content-timer-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .content-timer-text p {
      font-size: 18px;
      color: #364476;
      margin-right: 30px; }
  .content-timer-counter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .content-timer-counter p {
      font-size: 68px;
      color: #DADADA;
      font-weight: 100; }

.content-button button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 375px;
  height: 80px;
  border: none;
  background: #FFC141;
  -webkit-box-shadow: 0px 0px 40px rgba(255, 193, 65, 0.45);
  box-shadow: 0px 0px 40px rgba(255, 193, 65, 0.45);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer; }
  .content-button button:hover {
    background: #efaa1d; }

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: visibility 0.2s linear,opacity 0.2s linear;
  -o-transition: visibility 0.2s linear,opacity 0.2s linear;
  transition: visibility 0.2s linear,opacity 0.2s linear; }
  .modal-content {
    max-width: 1000px;
    width: 100%; }
  .modal.open-modal {
    visibility: visible;
    opacity: 1; }

.progress-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 135px; }

.dash {
  width: 10%;
  border-bottom: 1px solid #ECECEC; }

.step h4 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #DADADA; }

.step p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  -webkit-font-feature-settings: 'tnum' on, 'onum' on;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #DADADA; }

.step svg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.step.active h4 {
  color: #364476; }

.step.active p {
  color: #364476; }

.step.active svg {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.steps {
  position: absolute;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .steps-one {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .steps-two {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw); }
  .steps-three {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw); }

.modal-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .modal-form-head {
    padding-bottom: 70px; }
    .modal-form-head h3 {
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      -webkit-font-feature-settings: 'tnum' on, 'onum' on;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #364476; }
  .modal-form-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    position: relative; }
    .modal-form-left:after {
      content: "";
      width: 1px;
      border-right: 1px solid #F4F4F4;
      height: 90%;
      position: absolute;
      left: 125%;
      top: 5%; }
  .modal-form-right {
    width: 100%;
    max-width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .modal-form-input {
    border: none;
    position: relative;
    background: #F4F4F4;
    width: 100%;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 15px 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    -webkit-font-feature-settings: 'tnum' on, 'onum' on;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #000000;
    border: 2px solid rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .modal-form-input + label {
      display: none;
      position: absolute;
      height: 30px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      left: 0;
      top: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      -webkit-font-feature-settings: 'tnum' on, 'onum' on;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #EB5757; }
    .modal-form-input-block-diploma {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .modal-form-input-block-diploma input:first-child {
        width: 40%; }
      .modal-form-input-block-diploma input:nth-child(2) {
        width: 55%; }
    .modal-form-input:-ms-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #B7B7B7; }
    .modal-form-input:-moz-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #B7B7B7; }
    .modal-form-input::-moz-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #B7B7B7; }
    .modal-form-input::-webkit-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      -webkit-font-feature-settings: 'tnum' on, 'onum' on;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #B7B7B7; }
    .modal-form-input.correct-input {
      border: 2px solid #71D958; }
    .modal-form-input.wrong-input {
      border: 2px solid #EB5757; }
      .modal-form-input.wrong-input + label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .modal-form-input-block {
      position: relative; }
  .modal-form-next-step {
    width: 100%;
    max-width: 400px; }
    .modal-form-next-step button {
      background: #F4F4F4;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      border: none;
      padding: 25px 60px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      text-transform: uppercase;
      color: #FFFFFF; }
      .modal-form-next-step button.active-step-btn {
        cursor: pointer;
        background: #FFC141;
        -webkit-box-shadow: 0px 0px 40px rgba(255, 193, 65, 0.45);
        box-shadow: 0px 0px 40px rgba(255, 193, 65, 0.45); }
  .modal-form-checkbox-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 75%; }
    .modal-form-checkbox-block input[type="radio"] {
      display: none; }
    .modal-form-checkbox-block input[type="radio"] + label {
      position: relative;
      margin-left: 50px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      -webkit-font-feature-settings: 'tnum' on, 'onum' on;
      font-feature-settings: 'tnum' on, 'onum' on;
      color: #777777; }
    .modal-form-checkbox-block input[type="radio"] + label:after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      border: 6px solid #F4F4F4;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      top: -2px;
      left: -40px; }
    .modal-form-checkbox-block input[type="radio"]:checked + label:after {
      border: 6px solid #71D958; }

.step-progress-bar {
  width: 100%;
  max-width: 400px;
  padding-bottom: 50px; }
  .step-progress-bar p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    -webkit-font-feature-settings: 'tnum' on, 'onum' on;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #DADADA;
    margin: 0 0 20px; }

.progress-bar {
  width: 100%;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #F4F4F4;
  height: 30px; }
  .progress-bar-complete {
    width: 0;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    -webkit-font-feature-settings: 'tnum' on, 'onum' on;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #71D958;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
    transition: width 0.5s linear; }

.first-step .modal-form-input-block:not(:last-child),
.second-step .modal-form-input-block:not(:last-child) {
  margin-bottom: 40px; }

.modal-result {
  text-align: center;
  max-width: 600px;
  margin: 0 auto; }

.result-name h4 {
  margin: 0 0 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  -webkit-font-feature-settings: 'tnum' on, 'onum' on;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #000000; }

.result-info p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  -webkit-font-feature-settings: 'tnum' on, 'onum' on;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #000000; }

.modal-main {
  min-height: 500px;
  position: relative; }

.close-modal {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer; }

.cbalink {
  display: none; }

@media screen and (max-width: 991px) {
  .background-vector {
    width: 70%; }
    .background-vector svg {
      width: 100%;
      height: 100%; } }

@media screen and (min-height: 991px) {
  .background {
    width: 550px;
    height: 550px;
    left: 1024px;
    top: 10%; }
  -rectangle {
    width: 230px;
    height: 230px;
    left: 55%;
    top: 40%; }
  .content-timer {
    padding-bottom: 15%; } }
